.Footer {
  .logo {
    text-align: center;
    font-weight: 100;
    color: #13751e;
    font-family: "Titan One", sans-serif;
    font-size: 20px;
    margin: 20px 0 10px;
  }
  .Navs {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding: 10px 0;

    li {
      a {
        font-size: 15px;
        font-weight: 500;
        color: #282828;
        transition: all 0.5s;
      }
      &:hover {
        a {
          color: #13751e;
        }
      }
    }
  }
  .Container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 20px;
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #13751e;
    }
    .contact {
      display: flex;
      flex-direction: column;
      gap: 7px;
      a {
        cursor: pointer;
      }
      p {
        font-size: 13px;
      }
    }

    .wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 13px;
      i {
        font-size: 22px;
        color: #13751e;
        cursor: pointer;
        transition: all 0.5s;
        &:hover {
          color: #282828;
        }
      }
    }
  }
}
