// style.module.scss
.box_info{
    display: flex;
    align-items: center;
}
.contactPage {
    display: flex;
    flex-direction: column;
    
   padding: 2rem;
   width: 100%;
    background-color: white; // Light background
  
    h1 {
      font-size: 2rem;
      margin-bottom: 1.3rem;
    }
  
    p {
      margin-bottom: 1rem;
      color: #777; // Description color
    }
  }
  
  
  