.imageWrapper{
    img{
        width: 90%;
       object-fit: cover;
       border-top-left-radius: 150px;
       border-bottom-right-radius: 150px;
    
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    }
    
}