.faq {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 100px;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: 30px;
}
h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 900;
  font-size: 30px;
  color: black;
}

.faqList {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.faqItem {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 3px;
  align-self: flex-start;

  .question {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 900;
    color: black;

    h4 {
      margin: 0; 
    }

    span {
      font-size: 2rem; 
      color: #4caf50; 
    }
  }

  .answer {
    margin-top: 1rem; 
    color: rgb(0, 0, 0); 
    padding-left: 1rem; 
    margin-bottom: 0;
  }
}
